<div class="button-wrapper">
    <button mat-flat-button (click)="openAddColorDialog()">
        <mat-icon>add</mat-icon>
        Add Color
    </button>
</div>
<div class="container">
    <div *ngFor="let color of colors">
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title>{{ color.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div [ngStyle]="{'background-color': color.hexCode}" class="item-color"></div>
                <p>{{ color.hexCode }}</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button (click)="deleteColor(color.id)">
                    <mat-icon>delete</mat-icon>
                    Delete
                </button>
            </mat-card-footer>
        </mat-card>
    </div>
</div>