.item-color {
    width: 100%;
    height: 150px;
    border-radius: 3px;
    margin-right: 10px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.mat-mdc-card {
    margin-right: 20px;
}

.mat-mdc-card-content {
    padding: 2px;
    width: 250px;
}

.mat-mdc-card-content p {
    padding: 10px;
    text-transform: uppercase;
}

.button-wrapper {
    text-align: end;
    padding: 25px;
}

.mat-mdc-card-footer {
    margin: 10px 0 20px;
    text-align: center;
}